colors {
    color: #b1d1c5;
    color: #cb9b42;
    color: #f2f3ee;
    color: #dbd7cb;
}

.log-cont {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 700px;
    overflow: hidden;
    margin: 80px auto 30px;
    
}

.left-box {
    width: 300px;
    height: 480px;
    float: left;
    position: relative;
    display: block;
}

.bg-orange {
    width: 100%;
    height: 100%;
    background-color: #cb9b42;
}

.log-img {
    background-image: "../../../public/images/van2.jpeg";
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.img-text {
    font-size: 28px;
    position: absolute;
    color: #f2f3ee;;
}

.img-text.bold {
    font-weight: bold;
}

.img-text.style1 {
    top: 200px;
    left: 20px;
}

.img-text.style2 {
    top: 250px;
    left: 20px;
}

.right-box {
    width: 398px;
    height: 478px;
    float: right;
    border: 1px solid #cb9b42;
}

.box {
    width: 310px;
    height: 415px;
    margin: 32px auto;
}

.log-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    color:  #cb9b42;
}

.input-box {
    width: 300px;
    height: 42px;
    border-bottom: 2px solid #b1d1c5;
    margin-bottom: 10px;
}

.input-log {
    width: 100%;
    height: 98%;
    font-size: 14px;
    color: #cb9b42;
    text-indent: 10px;
    border: 0;
    outline: none;
}

.log-btn {
    width: 300px;
    height: 47px;
    color: #f2f3ee;
    background-color: #b1d1c5;
    text-align: center;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 25px;
}

.border-box {
    width: 300px;
    height: 47px;
    position: relative;
    margin: 20px 0;
}

.line {
    border-bottom: 2px solid #b1d1c5;
    position: absolute;
    top: 22px;
    width: 100%;
}

.text {
    font-size: 14px;
    color: #cb9b42;  
}

.text.or {
    position: absolute;
    top: 14px;
    left: 90px;
    height: 16px;
    background-color: #ffffff;
    text-align: center;
}

.sgnup-link {
    width: 298px;
    height: 45px;
    background-color: #f2f3ee;
    text-align: center;
    border: 2px solid #b1d1c5;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
}

.btns-cont-link {
    text-decoration: none;
    color: #b1d1c5;
    font-size: 25px;
    margin-top: 8px
}

@media screen and (max-width: 768px) {

    .log-cont {
        width: 100%;
    }

    .right-box {
        width: 100%;
        float: initial;
        border: 0;
    }

    .left-box {
        display: none;
    }

}


