.wrapped-grid {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
}

.container {
    overflow: hidden;
    background-color: #f2f3ee;
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    justify-content: center;
    
}

.banner {
    width: 280px;
    height: 210px;
    background-color: #cb9b42;
}

.banner-img {
    width: 100%; 
    height: 100%;
    
   
}
 
.the-name {
    font-size: 25px;
    width: 100%;
    height: 75px;
    justify-content: center;
    margin-left: 10px;
    color: #cb9b42;
    text-align: left;
    padding-top: 10px;
}

 .card-btn {
    width: 100%;
    padding: 1rem;
    justify-content: center;
 }

 .card-btn-link {
    color: #b1d1c5;
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    margin-top: 5px;

 }

 @media screen and (max-width: 700px) {

    .container {
        width: 100%;
        height: 370px;  
        margin-left: 0;
        margin-bottom: 0;
        border-top: 2px solid #cb9b42;
    }

    .banner {
        width: 100%;
        height: 75%;
        background-color: #cb9b42;
    }

    .the-name {
        font-size: 30px;
        width: 100%;
        height: 75px;
        color: #cb9b42;
        text-align: left;
        height: 30px;
        padding-left: 10px;
        padding-top: 15px
    }

    .the-mane p {
        margin-left: 10px;
    }
}

@media screen and (max-width: 990px) and (min-width: 710px) {

    .wrapped-grid {
        width: 70%;
        margin: 0 12%;
    }

}

@media screen and (min-width: 1000px) {

    .wrapped-grid {
        width: 70%;  
        margin: 0 15%;
    }

}
