colors {
    color: #b1d1c5;
    color: #cb9b42;
    color: #f2f3ee;
    color: #dbd7cb;
}

.wrappedgrid {
    display: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px; 
}

.wrappedgrid-active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 30px;
}

.thecontainer {
    overflow: hidden;
    background-color: #f2f3ee;
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 1rem;
    margin-left: 1rem;
    justify-content: center;
    
}

.thebanner {
    width: 280px;
    height: 210px;
    background-color: #cb9b42;
}

.thebanner-img {
    width: 100%; 
    height: 100%;
    
   
}

.thename {
    font-size: 25px;
    width: 100%;
    height: 75px;
    justify-content: center;
    margin-left: 10px;
    color: #cb9b42;
    text-align: left;
    padding-top: 10px;
}

.profile-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top:0
}

.profile-container2 {
    overflow: hidden;
    margin: 80px auto 30px;
    margin-top: 20px;
}

.leftbox {
    width: 100%;
    position: relative;
    display: flex;
    height: 300px;
    border-bottom: 2px solid #b1d1c5;
}

.opciones {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #b1d1c5;
    display: flex;
    justify-content: space-around;
}

.rightbox {
    width: 100%;
    height: 480px;    
}

.pestañas2 {
    width: 350px;
    display: flex;
    justify-content: space-around;

}

.creat-adventures {
    width: 50%;
    height: 50%;
}

.fav-adventures {
    width: 50%;
    height: 50%;
}

.camara {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.camara img{
    margin-top: 8px;
}

.caravana {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.caravana img{
    margin-top: 6px;
}

.salir {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.borrar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    
}

.profile-img {
    padding: 2px;
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    float: left;
}

.profileimg {
    background-color: #cb9b42;
    border-radius: 100px;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
}

.profileimg img{
    background-color: #cb9b42;
    border-radius: 100px;
    width: 95%;
    height: 95%;
    margin-top: 5px;
    margin-left: 2px;
}

.username {
    width: 50%;
    height: 100%;
    font-size: 30px;
    color: #cb9b42;
    display: flex;
    justify-content: space-between;
    float: right;
    
}

.name{
    width: 50%;
    height: 50%;
    
}

.subtitulo {
    font-size: 15px;
    
}

.editbtndiv {
    width:  33%;
    height: 30px;
    background-color: f2f3ee;
    border: 1px solid #cb9b42;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    border-radius: 3px;
    padding-bottom: 4px;
}

.final {
    width: 33%;
}

.editbtn {
    color: #cb9b42;
    text-decoration: none;
    font-size: 23px;
    
}

.icono {
    width: 30px;
}

.icon-div {
    background-color: #b1d1c5;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.show-trips {
    margin-top:20px
}

.icon-btn {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 7px;
    padding-top: 9px;
    border: none;
}

.logbtn-active {
    width: 95%;
    height: 47px;
    color: #f2f3ee;
    background-color: #b1d1c5;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.logbtn {
    width: 95%;
    height: 47px;
    color: #b1d1c5;
    background-color: #f2f3ee;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.favadventures {
    width: 25%;
    height: 100;
    background-color: #f2f3ee;
    display: flex;
    justify-content: center;
}

.linkbtn {
    text-decoration: none;
    height: 80%;
    width: 95%;
    color: #b1d1c5;
    background-color: #f2f3ee;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px

}

@media screen and (max-width: 700px) {

    .thecontainer {
        width: 100%;
        height: 370px;  
        margin-left: 0;
        margin-bottom: 0;
        border-top: 2px solid #cb9b42;
    }

    .thebanner {
        width: 100%;
        height: 75%;
        background-color: #cb9b42;
    }

    .thename {
        font-size: 30px;
        width: 100%;
        height: 75px;
        color: #cb9b42;
        text-align: left;
        height: 30px;
        padding-left: 10px;
        padding-top: 15px
    }

    .themane p {
        margin-left: 10px;
    }

    .favadventures {
        width: 35%;
        height: 100;
    }

    .linkbtn {
        text-decoration: none;
        height: 80%;
        width: 95%;
        color: #b1d1c5;
        background-color: #f2f3ee;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 20px;
        margin-top: 10px

    }

    .creat-adventures {
        width: 35%;
        height: 50%;
    }
    
    .fav-adventures {
        width: 35%;
        height: 50%;
    }

    .logbtn-active {
        width: 95%;
        height: 47px;
        color: #f2f3ee;
        background-color: #b1d1c5;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .pestañas2{
        padding-left:3% ;
    }

    .leftbox {
        width: 100%;
        height: 200px;
    }

    .profile-img {
        width: 25%;
        height: 50%;
        float: left;
        margin-left: 20px;
    }
    
    .profileimg {
        width: 100%;
        height: 100%;
    }

    .profileimg img{
        margin-top: 2px;
        margin-left: 1px;
    }

    .username {
        width: 60%;
        height: 50%;
        display: flex;
        flex-flow: column;
        
    }

    .editbtndiv {
        margin-bottom: 50px;
        width: 80%;
        margin: 20px;
    }

    .name {
        margin-left: 20px
    }
    

}
@media screen and (max-width: 990px) and (min-width: 710px) {

    .pestañas2 {
        width: 75%;
        justify-content: center;
        padding-left: 10%;
    }

    .creat-adventures {
        width: 25%;
        height: 50%;
    }
    
    .fav-adventures {
        width: 25%;
        height: 50%;
    }

    .logbtn-active {
        width: 95%;
        height: 47px;
        color: #f2f3ee;
        background-color: #b1d1c5;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    .logbtn {
        width: 95%;
        height: 47px;
        color: #b1d1c5;
        background-color: #f2f3ee;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .name {
        margin-top: 50px
    }

}
@media screen and (min-width: 1000px) {

    .profile-container {
        width: 70%;  
        margin: 0 15%;
    }

    .pestañas2 {
        width: 75%;
        justify-content: center;
        padding-left: 10%;
    }

    .creat-adventures {
        width: 25%;
        height: 50%;
    }
    
    .fav-adventures {
        width: 25%;
        height: 50%;
    }

    .logbtn-active {
        width: 95%;
        height: 47px;
        color: #f2f3ee;
        background-color: #b1d1c5;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }
    
    .logbtn {
        width: 95%;
        height: 47px;
        color: #b1d1c5;
        background-color: #f2f3ee;
        text-align: center;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .name {
        margin-top: 50px
    }

}

