colors {
    color: #b1d1c5;
    color: #cb9b42;
    color: #f2f3ee;
    color: #dbd7cb;
  }

.profile-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.profile-container2 {
    overflow: hidden;
    margin: 80px auto 30px;
}

.leftbox {
    width: 300px;
    float: left;
    position: relative;
    display: block;
    height: 300px;
}

.rightbox {
    width: 300px;
    height: 480px;
    float: right;
    
    
}

.pestañas2 {
    width: 350px;
    
    display: flex;
    justify-content: space-around;

}

.creat-adventures {
    width: 50%;
    height: 50%;
}

.fav-adventures {
    width: 50%;
    height: 50%;
}

.profile-img {
    border-radius: 100px;
    background-color: #cb9b42;
    padding: 2px;
    width: 205px;
    height: 205px;
    float: left;
    display: flex;
    justify-content: center;
}

.profile-img img{
    border-radius: 100px;
}

.icono {
    width: 30px;
}

.icon-div {
    background-color: #b1d1c5;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.show-trips {
    margin-top:20px
}

.icon-btn {
    background-color: #b1d1c5;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: 7px;
    padding-top: 9px;
    border: none;
}

.logbtn {
    width: 95%;
    height: 47px;
    color: #f2f3ee;
    background-color: #b1d1c5;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.logbtn-active {
    width: 95%;
    height: 47px;
    color: #b1d1c5;
    background-color: #f2f3ee;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 768px) {

   
}