  
  button.navbar-button {
    padding: 5px 20px;
    width: 100px;
    border-radius: 3px;
    margin: 0 10px;
  }

  #home-btn {
    color: #cb9b42;
    text-decoration: none;
    letter-spacing: 3px;
  }
  
  
  

  /*----------- MEDIA QUERYS------------*/
  
  @media screen and (min-width: 992px) {

    .burger {
      display: none;
    }
  
  }

  