.title-container {
    color:  #f2f3ee;
    font-size: 40px;
    font-align: center;
    font-weight: bold;
}

colors {
    color: #b1d1c5;
    color: #cb9b42;
    color: #f2f3ee;
    color: #dbd7cb;
  }