* {
  margin: 0;
  padding: 0;
}

colors {
  color: #b1d1c5;
  color: #cb9b42;
  color: #f2f3ee;
  color: #dbd7cb;
}

.app-container {
  width: 102%;
  
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}









