* {
  margin: 0;
  padding: 0;
}

colors {
  color: #b1d1c5;
  color: #cb9b42;
  color: #f2f3ee;
  color: #dbd7cb;
}

.app-container {
  padding: 20px;
  background-image: url(/build/images/van1.jpeg);
}

li {
  list-style: none;
}







